asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
dj-rest-auth==5.1.0
Django==4.2.11
django-allauth==0.61.1
django-cors-headers==4.3.1
djangorestframework==3.15.0
djangorestframework-simplejwt==5.3.1
dynamic-django-forms==0.1.11
gunicorn
idna==3.7
libusb1==3.1.0
mysqlclient==2.2.4
oauthlib==3.2.2
pillow==10.2.0
pycparser==2.22
PyJWT==2.8.0
PyMySQL==1.1.0
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
sqlparse==0.4.4
typing==3.7.4.3
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
